.skillsBlock {
    height: 100vh;
background-color: #252527;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}





