.project {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    background-color: #252527;
    .icon {
        width: 400px;
        height: 260px;
        background-color: gray;
        display: flex;
        justify-content: center;
        background-size: cover;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #1f1f20;
            opacity: 0.4;
        }
        .button {
            align-items: center;
            width: 100px;
            height: 30px;
            border-radius: 4px;
            margin-top: 130px;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                content: '';
                position: absolute;
                width: 50%;
                height: 10px;
                background: #4e93e6;
                bottom: -2px;
                z-index: -1;
                transition: all 0.2s ease-in-out;
                border-radius: 4px;
            }
            &:hover {
                text-decoration: none;
                color: white;
                &::after {
                    width: 100%;
                    height: 110%;
                    transition: all 0.3s ease-in-out 0s;

                }
            }
        }
    }
    .description {
        font-family: 'Poppins', sans-serif;
    }
}









