.nav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 25px;
  @media screen and (max-width: 700px) {
    display: block;
    justify-content: center;
    width: 60px;

  }
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  @media screen and (max-width: 700px) {
    display: block;
    padding: 10px;
  }

  &:hover {
    color: #4e93e6;
  }
}

.desctopNav {
  @media screen and (max-width: 700px) {
   display: none;
  }
  visibility: hidden;
}


