.footerBlock {
    height: 30vh;
    background-color: #252527;
}

.footerContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 80%;

}

.icon {
    font-size: 30px;
    color:#4e93e6;
    &:hover {
        color:white;
     }
}
