.projectsBlock {
    min-height: 100vh;
    .projectContainer {
        display: flex;
        justify-content: center;
        .projects {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            @media screen and (max-width: 1024px) {
                    justify-content: center;
            }
        }
    }
}







